* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overall {
  width: 100vw;
  height: 100vh;
  background-color: #a31222;
}
.round-div {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}
.small-round-div {
  width: 100%;
  height: 500px;
  background-color: #a31222;
  clip-path: ellipse(75% 100% at 40.5% 0%);
}
.small1 {
  width: 70%;
  height: 450px;
  background-color: #a31222;
  clip-path: ellipse(60% 100% at 40% 0%);
}
.small2 {
  width: 90%;
  height: 420px;
  background-color: #a31222;
  clip-path: ellipse(51% 100% at 49% 0%);
}
.pan {
  width: 350px;
  height: 350px;
  position: absolute;
  top: 15%;
  right: 46%;
}
.pan img {
  position: relative;
  z-index: 3;
}
